# Python Tutorial - 3

## **1. Sets**

**Sets** are **mutable unordered** collections of **unique** elements.

Common uses include membership testing, removing duplicates from a sequence, and computing standard math operations on sets such as intersection, union, difference, and symmetric difference.

Sets do not record element position or order of insertion. Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.

Sets are implemented using dictionaries. They cannot contain mutable elements such as lists or dictionaries. However, they can contain immutable collections.

### **1.1. Creating and accessing a Set**

In [1]:
# Creating a Set -1
animals = {'cat', 'bear', 'dog'}
print(animals)

{'cat', 'dog', 'bear'}

In [2]:
# Using the set() Constructor to make a set. -2
mySet=set(("Albania", 2023,-1.5, True, "Epoka", 400, 1, False, 0))
print(mySet)
print(len(mySet))

{False, True, 'Albania', 2023, 'Epoka', 400, -1.5}
7

In [3]:
# Accessing Set Items
for x in animals:
  print(x)

cat
dog
bear

In [4]:
# Length of the set
print(len(animals))

3

In [5]:
# Checking if a specified value is present in a set, by using the in keyword.
# It returns true if value is found and false otherwise
print('cat' in animals)
print('lion' in animals)

True
False

### **1.2 Adding Set elements**

* **The add() method adds a single element to the set.**
* What if the element already exists?

In [6]:
# Using the add() method
print(animals)
print(len(animals))

animals.add('lion')
print(animals)
print(len(animals))

{'cat', 'dog', 'bear'}
3
{'cat', 'dog', 'bear', 'lion'}
4

**The update() method adds multiple elements to a set.**

In [7]:
# Using the update() method
animals2={'monkey', 'girafe'}  #set
print("animals 2: ", animals2)
print(len(animals2))
print("\n")

print("animals 1: ",animals)
print(len(animals))
print("\n")

animals.update(animals2)
print("updated: ",animals)
print(len(animals))

animals 2:  {'girafe', 'monkey'}
2


animals 1:  {'cat', 'dog', 'bear', 'lion'}
4


updated:  {'cat', 'bear', 'dog', 'monkey', 'girafe', 'lion'}
6

**Add Any Iterable**

The object in the **update()** method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.) and it will add each element from that iterable object to the set.

In [8]:
print("animals 1: ",animals)
print(len(animals))
print("\n")

animals3=['sheep', 'donkey']
print("list:", animals3)

animals.update(animals3)
print("animals 1: ", animals)
print(len(animals))

animals 1:  {'cat', 'bear', 'dog', 'monkey', 'girafe', 'lion'}
6


list: ['sheep', 'donkey']
animals 1:  {'cat', 'bear', 'dog', 'donkey', 'monkey', 'sheep', 'girafe', 'lion'}
8

### **1.3. Removing Set Items**

To remove an item in a set, we can use the **remove()**, **discard()** or **pop()** methods.

**remove()**
* what if the item does not exist?

In [9]:
print("animals 1: ",animals)
print(len(animals))
print("\n")

animals.remove('Lion')
print("animals 1 but with Lion removed: ",animals)
print(len(animals))

animals 1:  {'cat', 'bear', 'dog', 'donkey', 'monkey', 'sheep', 'girafe', 'lion'}
8

KeyError: 'Lion'

**discard()**
* what if the item does not exist?

In [10]:
print("animals 1: ",animals)
print(len(animals))
print("\n")

animals.discard('bear')
print("animals 2: ",animals)
print(len(animals))

animals 1:  {'cat', 'bear', 'dog', 'donkey', 'monkey', 'sheep', 'girafe', 'lion'}
8


animals 2:  {'cat', 'dog', 'donkey', 'monkey', 'sheep', 'girafe', 'lion'}
7

**pop()**
* The pop() method removes and returns an arbitrary element from the set.
* Since sets are unordered, you cannot predict which element will be removed.
* If the set is empty, it raises a KeyError.

In [11]:
# Using the pop() method to remove a Random item from the Set
print("animals 1: ",animals)
print(len(animals))
print("\n")

removed_animal = animals.pop()
print("Removed animal:", removed_animal)
print("animals 2: ",animals)
print(len(animals))

animals 1:  {'cat', 'dog', 'donkey', 'monkey', 'sheep', 'girafe', 'lion'}
7


Removed animal: cat
animals 2:  {'dog', 'donkey', 'monkey', 'sheep', 'girafe', 'lion'}
6

### **1.4. Join Sets**

There are several ways to join two or more sets in Python.

We can use the **union()** method that returns a new set containing all items from both sets, or the **update()** method that inserts all the items from one set into another.

**The union() method**:
* returns a new set that contains all the elements from both sets, excluding duplicates.

In [12]:
# Using union() method to create a new Set
set1=set(('a', 'b', 'c',1 ,2))
print("set 1: ", set1)
print("\n")

set2={1,2,3}
print("set 2: ", set2)
print("\n")

set3=set1.union(set2)
print("set 3: ", set3)
print("\n")

set4=set1.union(set3)
print("set 4: ", set4)
print("\n")

set 1:  {1, 2, 'c', 'a', 'b'}


set 2:  {1, 2, 3}


set 3:  {1, 2, 'c', 3, 'a', 'b'}


set 4:  {1, 2, 3, 'c', 'a', 'b'}

**The | operator achieves the same result as union().**

In [13]:
set1=set(('a', 'b', 'c'))
print("set 1: ", set1)
print("\n")

set2={1,2,3}
print("set 2: ", set2)
print("\n")

result = set1 | set2
print(result)

set 1:  {'a', 'c', 'b'}


set 2:  {1, 2, 3}


{1, 2, 'c', 3, 'a', 'b'}

**The update() method modifies the first set in place, adding all elements from the second set.**

In [14]:
set1=set(('a', 'b', 'c'))
print("set 1: ", set1)
print("\n")

set2={1,2,3}
print("set 2: ", set2)
print("\n")

set1.update(set2)
print("set 1: updated", set1)
print("set 2: ", set2)

set 1:  {'a', 'c', 'b'}


set 2:  {1, 2, 3}


set 1: updated {1, 2, 'c', 3, 'a', 'b'}
set 2:  {1, 2, 3}

Methods to **Keep ONLY the Duplicates** of different Sets are **intersection_update()** and **intersection()**

**intersection_update()** does NOT create a new Set, but updates one of sets with intersected items

intersection_update(set): Modifies the original set (set1 in this case) to keep only elements found in both sets.

In [15]:
# The intersection_update() method will keep only the items that are present in both sets.
set1={'a','b','c','d'}
print("set 1: ", set1)
print("\n")

set2={'c','d','e','f'}
print("set 2: ", set2)
print("\n")

set1.intersection_update(set2)
print("set 1-intersection: ", set1)
print("set 2: ", set2)

set 1:  {'d', 'a', 'c', 'b'}


set 2:  {'e', 'c', 'f', 'd'}


set 1-intersection:  {'d', 'c'}
set 2:  {'e', 'c', 'f', 'd'}

**intersection()** creates a new Set of intersected items.

intersection(set): Returns a new set (set3 in this case) that contains the common elements, leaving the original sets unchanged.

In [16]:
# Using intersection() method to create a new set, that only contains the items that are present in both sets

set1={'a','b','c','d'}
print("set 1: ", set1)
print("\n")

set2={'c','d','e','f'}
print("set 2: ", set2)
print("\n")

set3=set1.intersection(set2)
print("set 1: ", set1)
print("set 2: ", set2)
print("set 3: ",set3)

set 1:  {'d', 'a', 'c', 'b'}


set 2:  {'e', 'c', 'f', 'd'}


set 1:  {'d', 'a', 'c', 'b'}
set 2:  {'e', 'c', 'f', 'd'}
set 3:  {'d', 'c'}

Methods to **Keep All, But NOT the Duplicates** items of different sets are **symmetric_difference_update()** and **symmetric_difference()**.

**symmetric_difference_update()** does NOT create a new Set, but updates one of sets with elements that are NOT present in both sets.

In [17]:
# Using symmetric_difference_update() method to keep only the elements
# that are NOT present in both sets
set1={'a','b','c','d'}
print("set 1: ", set1)
print("\n")

set2={'c','d','e','f'}
print("set 2: ", set2)
print("\n")

set1.symmetric_difference_update(set2)
print("symmetric_difference_update: ", set1)  #updates set 1
print("set 2: will stay the same:  ", set2)

set 1:  {'d', 'a', 'c', 'b'}


set 2:  {'e', 'c', 'f', 'd'}


symmetric_difference_update:  {'f', 'e', 'a', 'b'}
set 2: will stay the same:   {'e', 'c', 'f', 'd'}

**symmetric_difference()** creates a new Set of elements that are NOT present in both sets.

In [18]:
# Using symmetric_difference() method will return a new set,
# that contains only the elements that are NOT present in both sets.
set1={'a','b','c','d'}
print("set 1: ", set1)
print("\n")

set2={'c','d','e','f'}
print("set 2: ", set2)
print("\n")

set3=set1.symmetric_difference(set2) #creates a new set
print("symmetric_difference: ",set3)

set 1:  {'d', 'a', 'c', 'b'}


set 2:  {'e', 'c', 'f', 'd'}


symmetric_difference:  {'f', 'e', 'a', 'b'}

### **1.5. Enumerated Objects**

* The **enumerate()** function is a built-in Python function that takes an iterable and returns an ***enumerator object***. This enumerator object contains pairs of elements from the iterable and their corresponding position.

* When you're iterating over an iterable, you might often need to know both the item itself and its position in the list. Instead of managing a separate counter variable, enumerate() simplifies this process.

* When you use enumerate(iterable), it generates an object that yields pairs of **(index, item)** for each item in the iterable.

* This enumerated object can then be used directly in **for** loops or converted into a list of tuples or dictionary using **list()** or **dict()** constructors.
* It is particularly useful when you need both the index and the value from an iterable in a loop.

In [20]:
# Using enumerate() method in for loops to print enumerated object
capitals=["Tirana", "Rome", "Athens", "Ankara", "Berlin"]

for x in enumerate(capitals):
  print(x, end=" ")

(0, 'Tirana') (1, 'Rome') (2, 'Athens') (3, 'Ankara') (4, 'Berlin')

In [21]:
# Using enumerate() method in for loops to print the iterable
for position, capital in enumerate(capitals):
  print(capital + ",", end=" ")

Tirana, Rome, Athens, Ankara, Berlin,

In [22]:
# Using enumerate() method in for loops to print the couter
for position, capital in enumerate(capitals):
  print(position, ",", end=" ")

0 , 1 , 2 , 3 , 4 ,

In [23]:
# Converting enumerated object into a list of tuples
myList=list(enumerate(capitals))
print(myList)

[(0, 'Tirana'), (1, 'Rome'), (2, 'Athens'), (3, 'Ankara'), (4, 'Berlin')]

In [24]:
# Converting enumerated object into a Dictionary
myDictionary=dict(enumerate(capitals))
print(myDictionary)

{0: 'Tirana', 1: 'Rome', 2: 'Athens', 3: 'Ankara', 4: 'Berlin'}

### Exercises

1. Create a list of numbers with 15 elements
2. use enumerate() to print the index and the number, but only for numbers that are greater than 10.

In [25]:
#Solution-2
x = [14, 5, 8, 789 ,4 ,5 , 9, 15 ,54 ,78 ,454 ,2 ,15 ,14 ,17]

[print(index," ",number) for (index,number) in enumerate(x) if number>10]

0   14
3   789
7   15
8   54
9   78
10   454
12   15
13   14
14   17

[None, None, None, None, None, None, None, None, None]

In [26]:
#Solution -1
x = [14, 5, 8, 789 ,4 ,5 , 9, 15 ,54 ,78 ,454 ,2 ,15 ,14 ,17]

for index, number in enumerate(x):
  if number > 10 :
    print( f"index : {index}, number : {number} ")

index : 0, number : 14
index : 3, number : 789
index : 7, number : 15
index : 8, number : 54
index : 9, number : 78
index : 10, number : 454
index : 12, number : 15
index : 13, number : 14
index : 14, number : 17

In [27]:
#Create Lists:

#One way of creating a list: using brackets
list1=[1,234,23,24,57,46,345,74,23,78,98,53,43,256,43]
print("list1: ", list1)

#Another way of creating a list: using list function
list2=list((1,3,23,24,5,4,5,6,23,6,98,6,43,7,43))
print("list2: ", list2)

#Another way of creating a list: using list function and 'for' to populate it
list3 = list()
for i in range(1,16):
  list3.append(i)
print("list3: ",list3)

list1:  [1, 234, 23, 24, 57, 46, 345, 74, 23, 78, 98, 53, 43, 256, 43]
list2:  [1, 3, 23, 24, 5, 4, 5, 6, 23, 6, 98, 6, 43, 7, 43]
list3:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [28]:
#Use enumerate to print the numbers of the list that are greater than 10.
#also prit the position where these numbers are
print("The list being used is: ", list2)
print("\n")

for position, number in enumerate(list2):
  if number > 10:
    print("Number is:", number, "and position of this number is:", position)

The list being used is:  [1, 3, 23, 24, 5, 4, 5, 6, 23, 6, 98, 6, 43, 7, 43]


Number is: 23 and position of this number is: 2
Number is: 24 and position of this number is: 3
Number is: 23 and position of this number is: 8
Number is: 98 and position of this number is: 10
Number is: 43 and position of this number is: 12
Number is: 43 and position of this number is: 14

1. Create a list of tuples where each tuple contains the name of a student and their score. (at least 7 students)
2. Use enumerate() to print the index and the student’s information.

In [29]:
#1. Create a list of tuples:
students_scores=[
    ("Student_1",34),
    ("Student_2",45),
    ("Student_3",78),
    ("Student_4",100),
    ("Student_5",99),
    ("Student_6",70),
    ("Student_7",36)
]

#2. Using enumerate, print the index and infromation regarding students
for index,(name,score) in enumerate(students_scores):
  print(f"{index}. {name} and {score}")

0. Student_1 and 34
1. Student_2 and 45
2. Student_3 and 78
3. Student_4 and 100
4. Student_5 and 99
5. Student_6 and 70
6. Student_7 and 36

1. Create a list of countries.
2. Use enumerate() to print each country along with its position, but in reverse order (starting from the last country).
*tip: use len() function*

1. Create three sets of integers: one for even numbers, one for odd numbers, and one for prime numbers between 1 and 50.
2. Find the union of all three sets.
3. Find the intersection between the even numbers and prime numbers.
4. Find the difference between the odd numbers and prime numbers.

## **2. Dictionaries in Python**

**Dictionaries** are used to store data values in **key:value** pairs, similar to a Map in Java or an object in Javascript.

A **dictionary** is a collection which is ordered, changeable and do not allow duplicates.

**Dictionary items** are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the **key name**.

### **2.1. Creating a Dictionary**

In [99]:
# Creating a Dictionary
thisCourse = {
    "Code":"PY101",
    "Name":"Python Programming",
    "Year":"2022-2023",
    "Company":"SNET"
}
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Company': 'SNET'}

In [100]:
# Using dict() constructor to make a dictionary
personalInfo = dict(name = "A", age = 22, country = "Albania")
print(personalInfo)

{'name': 'A', 'age': 22, 'country': 'Albania'}

### **2.2. Accessing Dictionary Content**

Some of **ways and methods** to access dictionary content are:

In [101]:
# Accessing a Dictionary Item
print(thisCourse) # print the whole dictionary
print(thisCourse["Name"])  # print a value

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Company': 'SNET'}
Python Programming

In [102]:
# Adding a new key-value pair
print(thisCourse) # print the whole dictionary

thisCourse['Class'] = 'Lab1'
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Company': 'SNET'}
{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Company': 'SNET', 'Class': 'Lab1'}

In [103]:
# Updating a value by referring to its key name
print(thisCourse) # print the whole dictionary

thisCourse["Code"]="PY101"
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Company': 'SNET', 'Class': 'Lab1'}
{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Company': 'SNET', 'Class': 'Lab1'}

In [104]:
# Removing a key-value pair
del thisCourse['Company']
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2022-2023', 'Class': 'Lab1'}

**get(key, default):** Returns the value for for key in the dictionary. If the key does not exist, it returns default (which is None if not specified).

In [105]:
item=thisCourse.get("Department")
print(item)

item=thisCourse.get("Department","does not exist")
print(item)

item=thisCourse.get("Code")
print(item)

item=thisCourse.get("Code","does not exist")
print(item)

None
does not exist
PY101
PY101

**items():** Returns a view of all the key-value pairs in the dictionary as tuples.

In [106]:
# Using items() method to Return a copy of the dictionary’s list of (key, value) pairs.
d_List = thisCourse.items()
print(d_List)

print("type of:",type(d_List))

#print(d_List[1])

dict_items([('Code', 'PY101'), ('Name', 'Python Programming'), ('Year', '2022-2023'), ('Class', 'Lab1')])
type of: <class 'dict_items'>

**keys():** Returns a view of all the keys in the dictionary.

In [107]:
# Using keys() method to Return a copy of the dictionary’s list of keys.
d_Keys = thisCourse.keys()
print(d_Keys)

dict_keys(['Code', 'Name', 'Year', 'Class'])

**values():** Returns a view of all the values in the dictionary.

In [108]:
# Using values() method to Return a copy of the dictionary’s list of values.
d_Values=thisCourse.values()
print(d_Values)

dict_values(['PY101', 'Python Programming', '2022-2023', 'Lab1'])

### **2.3. Adding or modifying Dictionary Elements**

> add a new key-value pair simply by assigning a value to a new key.

add a new key-value pair simply by assigning a value to a new key.

In [109]:
thisCourse = {
    "Code": "PY101",
    "Name": "Python Programming",
    "Year": "2025"
}

# Adding a new key-value pair
thisCourse["Company"] = "SNET"
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2025', 'Company': 'SNET'}

The **update()** method may be used to update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

In [110]:
# 1. updating existing dictionary item
thisCourse.update({"Year":"2024-2025"})
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2024-2025', 'Company': 'SNET'}

In [111]:
# 2. updating non existing dictionary item
thisCourse.update({"Department":"Artificial Intelligence", "Engineers": 3})
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2024-2025', 'Company': 'SNET', 'Department': 'Artificial Intelligence', 'Engineers': 3}

### **2.4. Deleting Dictionary Elements**

There are several **methods to remove** items from a dictionary:

**pop() method** removes the item with the specified key and returns its value:

In [112]:
thisCourse.pop("Department")
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2024-2025', 'Company': 'SNET', 'Engineers': 3}

**popitem() method** removes and returns the last inserted item from the dictionary:

In [113]:
thisCourse.popitem()
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2024-2025', 'Company': 'SNET'}

**del** statement to remove an item:

* After using popitem(), the item that was removed no longer exists in the dictionary.
* Trying to access or delete that key afterwards will raise a KeyError.

In [114]:
# The key may generate an error if it is used after popitem() method
del thisCourse["Year"]
print(thisCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Company': 'SNET'}

To remove all items from the dictionary, use the **clear() method:**

In [115]:
thisCourse.clear()
print(thisCourse)

{}

### **2.5. Loop through a Dictionary**

We can **loop** through a dictionary by using a **for** loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [116]:
# Using a for loop to print the Keys of a dictionary
thisCourse = {
    "Code":"PY101",
    "Name":"Python Programming",
    "Year":"2025"
}

for item in thisCourse:
  print(item)

Code
Name
Year

In [117]:
# Using the keys() method to return the keys of a dictionary
for key in thisCourse.keys():
  print(key)

Code
Name
Year

In [118]:
# Using a for loop to print the Values of a dictionary
for value in thisCourse:
  print(thisCourse[value])

PY101
Python Programming
2025

In [119]:
# Using values() method to return values of a dictionary
for value in thisCourse.values():
  print(value)

PY101
Python Programming
2025

In [120]:
# Using items() mothod to access keys and corresonding values of dictionary
for course_key, course_value in thisCourse.items():
  print("This course", course_key,"is",course_value)

This course Code is PY101
This course Name is Python Programming
This course Year is 2025

### **2.6. Copying a Dictionary**

We cannot copy a dictionary simply by typing **dict2 = dict1**, because: dict2 will only be a **reference** to dict1, and changes made in dict1 will automatically also be made in dict2.

We can use **copy()** or **dict()** methods to create a copy of a Dictionary.

In [121]:
thisCourse = {
    "Code":"PY101",
    "Name":"Python Programming",
    "Year":"2025"
}

# 1. Using copy() method to create a copy of a Dictionary
print("1st: ", thisCourse)
myCourse=thisCourse.copy()
print("2st: ",myCourse)

1st:  {'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2025'}
2st:  {'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2025'}

In [122]:
# 2.  Using dict() method to create a copy of a Dictionary
yourCourse=dict(thisCourse)
print(yourCourse)

{'Code': 'PY101', 'Name': 'Python Programming', 'Year': '2025'}

### **2.7. Dictionary comprehension**

Dictionary comprehensions are similar to list comprehensions and allow
 us to easily construct dictionaries.

`[new_expression for item in iterable if condition]`

In [123]:
# Creating a list using for loop
nums = []
for i in range(1,11):
  nums.append(i)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
# Using List comprehensions
odd_num_square = [x**2 for x in nums if x%2 != 0]
print(odd_num_square)

[1, 9, 25, 49, 81]

In [125]:
# Using Dictionary comprehensions - 1
even_num_square = {x: x**2 for x in nums if x%2==0}
print(even_num_square)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# Using Dictionary comprehensions - 2
countries = ["Albania", "Italy", "Japan", "Germany"]
d_countries={x: len(x) for x in countries}
print(d_countries)

{'Albania': 7, 'Italy': 5, 'Greece': 6, 'Germany': 7}

### **2.8. Nested Dictionaries**

A dictionary can contain dictionaries, this is called nested dictionaries.

In [127]:
# Creating a nested dictionary -1
courses={
    "course1" : {
        "code": "PY101",
        "name": "Python Programming"
    },
    "course2":{
        "code": "PY102",
        "name": "Data Structures"
    },
    "course3": {
        "code": "PY103",
        "name": "Artificial Intelligence"
    }
}
print(courses)

{'course1': {'code': 'PY101', 'name': 'Python Programming'}, 'course2': {'code': 'PY102', 'name': 'Data Structures'}, 'course3': {'code': 'PY103', 'name': 'Artificial Intelligence'}}

In [128]:
# Creating a nested dictionary -2 (by combining other dictionaries)
course1 ={
    "code": "PY101",
    "name": "Python Programming"
}
course2 ={
    "code": "PY102",
    "name": "Data Structures"
}
course3 ={
    "code": "PY103",
    "name": "Artificial Intelligence"
}
courses={
    "course1":course1,
    "course2":course2,
    "course3":course3
    }
print(courses)

# Accessing nested dictionary elements
print("Entire course1 dictionary:",courses["course1"])
print("Name of course1: ",courses["course1"]["name"])

{'course1': {'code': 'PY101', 'name': 'Python Programming'}, 'course2': {'code': 'PY102', 'name': 'Data Structures'}, 'course3': {'code': 'PY103', 'name': 'Artificial Intelligence'}}
Entire course1 dictionary: {'code': 'PY101', 'name': 'Python Programming'}
Name of course1:  Python Programming

**Example:** Calculating the frequency of Items

In [129]:
my_List=[10, 20, 30, 5, 10, 20, 30, 5, 35, 3, 8, 9, 8, 3, 20, 10]
d=dict()

for x in my_List:
  if x in d:
    d[x] += 1
  else:
    d[x]=1

print(d)

{10: 3, 20: 3, 30: 2, 5: 2, 35: 1, 3: 2, 8: 2, 9: 1}

### Exersises

1. Create a dictionary mapping each country to its capital.
2. Write a function to invert the dictionary so that each capital points back to its country.
*Extra: Handle cases where multiple countries share the same capital.*

1. Create a nested dictionary where each student has a dictionary of their subjects and corresponding grades.
2. Write a function that calculates the average grade for each student and returns a dictionary with student names and their average grades.

## **3. Working with Files**

File handling is an important part of using Python for Data Mining


Python has several functions for **creating**, **reading**, **updating**, and **deleting** files.

The key function for working with files in Python is the **open()** function.

The **open()** function takes two parameters; **filename**, and **mode**.

There are four different methods (modes) for opening a file:
- "**r**" - **Read** - Default value. Opens a file for reading, error if the file does not exist

- "**a**" - **Append** - Opens a file for appending, creates the file if it does not exist

- "**w**" - **Write** - Opens a file for writing, creates the file if it does not exist

- "**x**" - **Create** - Creates the specified file, returns an error if the file exists

### **3.1. Creating a File**

Remember: Always close the file after you’re done with it using **f.close()**. This saves changes and frees up system resources.

In [ ]:
# Creating a file using open() function
f=open("example.txt", "w")
f.write("Welcome!")
f.close()

f=open("example.txt", "r")
print(f.read())

Welcome!

The **open()** function does not close the file, so we also have to close the file with the **close()** method.

In [ ]:
# Creating a file using with statement and open() function
with open("example.txt", "w") as f:
  f.write("How are you?") #The file content is overwritten

# Opening a file
f=open("example.txt", "r")
print(f.read())

How are you?

Unlike **open()** where we have to close the file with the **close()** method, the **with** statement closes the file for us without us telling it to.

In [ ]:
# Modifying the file content (append data)
f=open("example.txt", "a")
f.write("\nWelcome to the PY101")
f.close()

In [ ]:
f=open("example.txt")
print(f.read())

Create a file with this content:
"Hello!
Wellcome to the Data Mining Course!
This is an example illustrating
file operations in Python."
 named: ex1

In [ ]:
# Opening an existing file
from google.colab import drive
drive.mount('/content/drive')

f=open("/content/ex1.txt", "r")
print(f.read())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Hello!
Wellcome to the Data Mining Course!
This is an example illustrating file operations in Python.

### **3.2. Working with Files**

In [ ]:
# Reading and working with file content
with open("/content/ex1.txt") as f:
  for line in f:
    words=line.split() #Split a string into a list where each word is a list item
    print(words)

['Hello', '!']
['Wellcome', 'to', 'the', 'Data', 'Mining', 'Course', '!']
['This', 'is', 'an', 'example', 'illustrating', 'file', 'operations', 'in', 'Python', '.']

Example of counting the number of lines, words and characters in a file

In [ ]:
lines = 0
words = 0
charNumber = 0
charNumberWithoutWhiteSpaces = 0
my_file ="/content/ex1.txt"

with open(my_file, 'r') as f:
  for line in f:
        lines += 1
        words += len(line.split())
        charNumber += len(line)
        for w in line.split():
          charNumberWithoutWhiteSpaces += len(w)

print(f"There are {lines} lines, {words} words and {charNumber} chars in the {my_file} file.")
print(f"The number of chars without white spaces is {charNumberWithoutWhiteSpaces}.")

There are 3 lines, 19 words and 106 chars in the /content/ex1.txt file.
The number of chars without white spaces is 86.

Create a text file with numbered lines, from an existing text file.

In [ ]:
line_number=1
with open(my_file, "r") as f1, open("numbered_file.txt", "w") as f2:
  for line in f1:
    f2.write(str(line_number)+"."+line)
    line_number += 1


f2 = open("numbered_file.txt")
print(f2.read())

1.Hello !
2.Wellcome to the Data Mining Course !
3.This is an example illustrating file operations in Python .

Categorize the candidates of an exam as successful or failing and store in two different files.

results:

Oltion Hysa 70
Adelajd Hoxha 78
Endri Xhafi 85
Arben Bufi 50

In [ ]:
exam_results ="/content/std.txt"
f1=open(exam_results, "r")
print(f1.read())

Oltion Hysa 70
Adelajd Hoxha 78
Endri Xhafi 85
Arben Bufi 50

In [ ]:
def categorizeCandidates (resultsFileName, passedFileName, failedFileName, threshold=75):
  with open(resultsFileName,"r") as f1, open(passedFileName, "w") as f2, open(failedFileName, "w") as f3:
    for line in f1:
      score = int(line.split()[-1])    #explanation
      if score >= threshold:
        f2.write(line)
      else:
        f3.write(line)

categorizeCandidates (exam_results, "passed.txt", "failed.txt")

f2=open("passed.txt","r")
print(f2.read())
print("----------------------")
f3=open("failed.txt","r")
print(f3.read())

Adelajd Hoxha 78
Endri Xhafi 85

----------------------
Oltion Hysa 70
Arben Bufi 50

Note:
Suppose we have this line " Ana 74".
1. line.split() will strip the string of whitespaces. --> ['Ana','74]
2. [-1] indexing the last item meaning '74'.
3. int() converts string to int

## **4. Higher Order Functions: Map, Filder, Reduce**

**Higher-order functions are functions that can take other functions as arguments or return functions as their results.**



**Key Characteristics of Higher-Order Functions:**

A higher-order function can take one or more functions as input.

It can return a function as its result.

By taking existing functions and combining or modifying them, you can create new functionality.

### **4.1. Map Function**

1. map() takes a function and applies it to every item in an iterable

2. Used when you want to transform the data

In [ ]:
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

temps_celsius = [0, 20, 37]
temps_fahrenheit = list(map(celsius_to_fahrenheit, temps_celsius))

print(temps_fahrenheit)

[32.0, 68.0, 98.6]

**map()** function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

**map(fun, iter)**

**fun**: It is a function to which map passes each element of given iterable.

**iter**: It is iterable which is to be mapped.

In [ ]:
# Implementing map() function with Tuple as iterator

# 1. define the functions:
def dollar2euro(x):
  return 0.9*x

def euro2dollar(x):
  return 1.05*x

# 2. maps the tuple with one of the functions
amountsDollars=(100, 200, 300, 4000)
amountsEuros = tuple(map(dollar2euro, amountsDollars))
print("converted in euros",amountsEuros)

converted in euros (90.0, 180.0, 270.0, 3600.0)

**Lambda Functions**

A lambda function in Python is a small, anonymous function defined using the lambda keyword.

Unlike regular functions defined with def, lambda functions can take any number of arguments but can only have a single expression.

They are often used for short, throwaway functions where defining a full function would be overkill.

```
# lambda arguments: expression
```
Lambda functions do not have a name, which is why they are often referred to as anonymous functions.

The body of a lambda function can contain only one expression. The result of this expression is returned automatically.

Lambda functions are often used with higher-order functions like map(), filter(), and reduce() because they allow you to pass a simple function without formally defining it.

In [ ]:
# 1. A regular function to add two numbers
def add(x, y):
    return x + y

# 2. A lambda function that does the same
add_lambda = lambda x, y: x + y

# Using both functions
print(add(2, 3))
print(add_lambda(2, 3))

5
5

In this case, a lambda function is used. It performs the same operation as dollar2euro, providing a more concise way to write the transformation.

Here, lambda x: 0.9 * x is a function that takes a single argument x and returns 0.9 * x.

In [ ]:
# 1. define the functions:
def dollar2euro(x):
  return 0.9*x

def euro2dollar(x):
  return 1.05*x

# 2. maps the tuple with one of the functions
amountsDollars=(100, 200, 300, 4000)
amountsEuros = tuple(map(dollar2euro, amountsDollars))
print("converted in euros",amountsEuros)

converted in euros (90.0, 180.0, 270.0, 3600.0)

In [ ]:
amountsDollars=(100, 200, 300, 4000)
amountsEuros = map(lambda x: 0.9*x, amountsDollars)
print(tuple(amountsEuros))

(90.0, 180.0, 270.0, 3600.0)

In [ ]:
# Implementing map() function with List as iterator
amountsEuros=[100, 200, 300, 400]
amountsDollars = list(map(euro2dollar, amountsEuros))
print(amountsDollars)

### **4.2 Filter Function**

filter() takes a function and an iterable, and it returns a new iterable containing only the items for which the function returns True.

Use filter() when you want to select specific items based on a condition. For example, if you want to keep only even numbers from a list.

In [ ]:
def is_even(n):
    return n % 2 == 0

numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4]

**filter(function, list)** returns a new list containing all the elements of list for which **function()** evaluates to **True**.

In [ ]:
# Extract numbers divisible by 2 and 3
nums = [i for i in range(20)]
filtered = filter(lambda x: x%2==0 and x%3==0, nums)
print(list(filtered))

[0, 6, 12, 18]

### **Example:**

Write the given list comprehension example using higher order functions

In [ ]:
# Using list comprehension
list1 = [4, 7, 20, -12, 43, 6, 3, 23, 60, -20, 100]
list2 = [x**2 for x in list1 if x>15]
print(list2)

[400, 1849, 529, 3600, 10000]

In [130]:
# Using higher order functions short way
list1 = [4, 7, 20, -12, 43, 6, 3, 23, 60, -20, 100]
list2 = list(map(lambda x: x**2, filter(lambda x: x>15, list1)))
print(list2)

[400, 1849, 529, 3600, 10000]

In [131]:
# Using higher order functions long way

list1 = [4, 7, 20, -12, 43, 6, 3, 23, 60, -20, 100]

# 1. filter the list for values greater than 15
filtered_list = filter(lambda x: x > 15, list1)

# 2. square each value in the filtered list
squared_list = map(lambda x: x**2, filtered_list)

# Convert the map object to a list
list2 = list(squared_list)

print(list2)

[400, 1849, 529, 3600, 10000]

## **5. Python Classes/Objects**

Python is an object oriented programming language. Almost everything in Python is an object, with its properties and methods.

In [173]:
# Creating a Class

class my_Course:           # define a class
  code = "PY101"          #class atributes: code, name
  name ="Python Programming"

# Creating an Object

obj = my_Course()
print(obj.code)
print(obj.name)

PY101
Python Programming

### **5.1. The \_init_() Function**

All classes have a function called **\_init_()**, which is always executed when the class is being initiated.

Use the **\_init_()** function to assign values to object properties, or other operations that are necessary to do when the object is being created.

In [174]:
class Course:
  def __init__(self, code, name):
    self.code = code
    self.name = name

course1 = Course("PY102", "Data Structures")

print(course1.code)
print(course1.name)
print(course1)

PY102
Data Structures
<__main__.Course object at 0x7eaba061c320>

### **5.2. The \_str_() Function**

The **\_str_()** function controls what should be returned when the class object is represented as a string.

If the **\_str_()** function is not set, the string representation of the object is returned

In [175]:
class Course:
  def __init__(self, code, name):
    self.code = code
    self.name = name

  def __str__(self):
    return f"{self.code} {self.name}"


course2 = Course("PY103", "Artificial Intelligence")

print(course2.code)
print(course2.name)
print(course2)

PY103
Artificial Intelligence
PY103 Artificial Intelligence

In [176]:
class Calculator(object):
  def __init__(self, nr1, nr2):
    self.nr1 = nr1
    self.nr2 = nr2

  # Sample Method
  def calculate (self, operator):
    if operator == "+":
      self.result = self.nr1 + self.nr2
    elif operator == "*":
      self.result = self.nr1 * self.nr2
    elif operator == "/":
      self.result = self.nr1 / self.nr2
    elif operator == "-":
      self.result = self.nr1 - self.nr2
    return self.result

operation = Calculator(3,4)

print(operation.calculate("-"))
print(operation.calculate("*"))

-1
12

### **5.3. Encapsulation**

**Encapsulation** is the bundling of data and methods that operate on that data within a single unit (class). In Python, encapsulation is achieved by using private and protected attributes.

- **Public attributes**: Accessible from anywhere (default in Python)
- **Protected attributes**: Prefixed with a single underscore `_` (convention, not enforced)
- **Private attributes**: Prefixed with double underscore `__` (name mangling occurs)

In [177]:
# Example 1: Public, Protected, and Private attributes
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number  # Public attribute
        self._balance = balance  # Protected attribute (convention)
        self.__pin = "1234"  # Private attribute (name mangling)
    
    def get_balance(self):  # Public method
        return self._balance
    
    def deposit(self, amount):  # Public method
        if amount > 0:
            self._balance += amount
            return True
        return False
    
    def _validate_pin(self, pin):  # Protected method
        return self.__pin == pin

# Creating an object
account = BankAccount("ACC001", 1000)

# Accessing public attribute
print(f"Account: {account.account_number}")

# Accessing protected attribute (works, but convention says don't)
print(f"Balance: {account._balance}")

# Accessing private attribute (name mangling - this won't work as expected)
# print(account.__pin)  # This would cause AttributeError
print(f"Private attribute accessed via name mangling: {account._BankAccount__pin}")

Account: ACC001
Balance: 1000
Private attribute accessed via name mangling: 1234

In [178]:
# Example 2: Using getter and setter methods (better encapsulation)
class Student:
    def __init__(self, name, age):
        self.__name = name  # Private attribute
        self.__age = age  # Private attribute
    
    # Getter method
    def get_name(self):
        return self.__name
    
    # Setter method with validation
    def set_age(self, age):
        if age > 0 and age < 150:
            self.__age = age
        else:
            print("Invalid age!")
    
    def get_age(self):
        return self.__age

student = Student("Alice", 20)
print(f"Name: {student.get_name()}")
print(f"Age: {student.get_age()}")
student.set_age(21)
print(f"New Age: {student.get_age()}")
student.set_age(-5)  # Invalid age

Name: Alice
Age: 20
New Age: 21
Invalid age!

### **5.4. Polymorphism**

**Polymorphism** allows objects of different classes to be treated as objects of a common base class. In Python, polymorphism is achieved through:

- **Method overriding**: Subclasses can override methods from parent classes
- **Duck typing**: "If it walks like a duck and quacks like a duck, it's a duck" - Python doesn't check types, just behavior

In [179]:
# Example 1: Method overriding (polymorphism through inheritance)
class Animal:
    def make_sound(self):
        return "Some generic animal sound"

class Dog(Animal):
    def make_sound(self):  # Overriding parent method
        return "Woof!"

class Cat(Animal):
    def make_sound(self):  # Overriding parent method
        return "Meow!"

class Duck(Animal):
    def make_sound(self):  # Overriding parent method
        return "Quack!"

# Polymorphism in action
animals = [Dog(), Cat(), Duck()]

for animal in animals:
    print(animal.make_sound())  # Each calls its own version

Woof!
Meow!
Quack!

In [180]:
# Example 2: Duck typing (polymorphism without inheritance)
class Car:
    def drive(self):
        return "Car is driving on the road"

class Boat:
    def drive(self):
        return "Boat is driving on water"

class Plane:
    def drive(self):
        return "Plane is driving in the air"

# Function that works with any object that has a drive() method
def start_vehicle(vehicle):
    print(vehicle.drive())

# All these work because they all have a drive() method
start_vehicle(Car())
start_vehicle(Boat())
start_vehicle(Plane())

Car is driving on the road
Boat is driving on water
Plane is driving in the air

In [181]:
# Example 3: Polymorphism with different classes having same method
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height

class Circle:
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        return 3.14159 * self.radius ** 2

class Triangle:
    def __init__(self, base, height):
        self.base = base
        self.height = height
    
    def area(self):
        return 0.5 * self.base * self.height

# Function that works with any shape that has an area() method
def calculate_total_area(shapes):
    total = 0
    for shape in shapes:
        total += shape.area()
    return total

# Different shapes, same interface
shapes = [Rectangle(5, 4), Circle(3), Triangle(4, 6)]
total = calculate_total_area(shapes)
print(f"Total area: {total}")

Total area: 60.27431