# Python Tutorial - 2

## **1. Functions in Python**

**1.1. Functions without Parameters**

In [23]:
# Creating a Function without parameters
def print_msg():
  print("Welcome!")
  print("to SNET")

# Calling a function without arguments
print_msg()

Welcome!
to SNET

**1.2. Functions with Parameters:**

In [24]:
# Creating a Function with 1 parameter
def my_function(name):
  print("Hello", name)

# Calling a function with 1 argument
my_function("Klaudia")
my_function(2)
my_function(True)

Hello Klaudia
Hello 2
Hello True

In [25]:
# Creating a Function with 2 parameters
def my_function(x, y):
  print("Hello", x, y)

# Calling a function with 2 arguments
my_function("Jonny", "Jon")
my_function(2, 4)
my_function(True, False)

Hello Jonny Jon
Hello 2 4
Hello True False

In [26]:
# Creating a Function with Arbitrary Arguments - 1, *args
def greating(*args):
  print("Hello", args[0], args[2])

greating("Klaudia", "Adela", "Eriselda","Bledi","Migeni","Asipi")

Hello Klaudia Eriselda

In [27]:
def greet_multiple(*names):
    print("Hello everyone:")
    for name in names:
        print(name)

greet_multiple("Klaudia", "Adela", "Eriselda","Bledi","Migeni","Asipi")  # Passing multiple names

Hello everyone:
Klaudia
Adela
Eriselda
Bledi
Migeni
Asipi

**def my_function(*args, *args)** declaration canâ€™t be used in same function declaration, because thereis ambiguity.

**def my_function(a, b, *args)** If there are other parameters *args is used at end.

In [28]:
# Creating a Function with Arbitrary Arguments - 2, *args
def greating(message, *args):
  print(message+ ":", end=" ")
  for v in args:
    print(v, end=" ")

greating("Hello", "Klaudia", "Adela", "Eriselda","Bledi","Migeni","Asipi")

Hello: Klaudia Adela Eriselda Bledi Migeni Asipi

In [29]:
# Creating a Function with Keyword Arguments
def greating(name1, name2, name3):
  print("Hello", name2)

greating(name1="A", name3="B", name2="C")

Hello C

In [30]:
def vehicle_info(make, model, year):
    print(f"Vehicle: {year} {make} {model}")

# Example call
vehicle_info(model="Mustang", make="Ford", year=2021)

Vehicle: 2021 Ford Mustang

In [31]:
#1.6. Functions with Keyword Arguments

def describe_pet(pet_name, pet_type="dog"):
    print(f"I have a {pet_type} named {pet_name}.")

describe_pet(pet_name="Kuro", pet_type="cat")  # Specifying arguments
describe_pet(pet_name="Max")  # Using default pet type

I have a cat named Kuro.
I have a dog named Max.

In [32]:
# Creating a Function with Arbitrary Keyword Arguments, **kwargs
def greating(**persons):
  print("Hello", persons["name2"])

greating(name1="A", name3="B", name2="C")

Hello C

In [33]:
#Creating a function with Default Parameter Value
def greating(country="Albania"):
  print("Welcome to", country)

greating("Italy")
greating("Greece")
greating()

Welcome to Italy
Welcome to Greece
Welcome to Albania

**1.3. Examples with Functions**

In [34]:
# Ex_1: Check if a number_1 is divisible by a number_2

def checkDivisibility(a,b=2):
  if a%b==0:
    print("%d is divisible by %d" %(a,b)) # Printing using C style string formatting
  else:
    print("{0} is not divisible by {1}".format(a,b)) # Printing using format method

checkDivisibility(33,10)
checkDivisibility(40)

33 is not divisible by 10
40 is divisible by 2

In [35]:
# Ex.2: Find a sum of numbers

def sum_of_numbers(a, b=20, c=100, d=1000):
  return a+b+c+d

x=sum_of_numbers(3)
print(x)

y=sum_of_numbers(3, d=500)
print(y)

z=sum_of_numbers(a=50, c=500)
print(z)

1123
623
1570

In [36]:
# Ex.3: Multipliplication / Replication
def myfunction(x):
  print(3*x)

myfunction(50)
myfunction("*CEN376*")
myfunction(2.5)
myfunction(["Albania", "Kosovo", "Japan"])

150
*CEN376**CEN376**CEN376*
7.5
['Albania', 'Kosovo', 'Japan', 'Albania', 'Kosovo', 'Japan', 'Albania', 'Kosovo', 'Japan']

In [37]:
# Ex.4: Sum calculator with Arbitrary Arguments
def sumCalculator(*args):
  sum=0
  for x in args:
    sum += x
  return sum

s1=sumCalculator(10, 20, 30)
s2=sumCalculator(5,10)
s3=sumCalculator(5, 10, 15, 20,35,245,14)

print(s1)
print(s2)
print(s3)

60
15
344

In [38]:
# Ex.5: Printing data with One Parameter and Arbitrary Arguments

def printInfo(description, *items):
  print(description + ":")
  for item in items:
    print(item, end=" ")
  print("\n")

printInfo("Course Codes", "PY101", "PY102", "PY103")
printInfo("Course Names", "Python Programming", "Data Structures", "Artificial Intelligence")

Course Codes:
PY101 PY102 PY103

Course Names:
Python Programming Data Structures Artificial Intelligence

# **Python Collections**

---


**There are four collection data types in the Python programming language:**

---



**1. Lists**
*   Ordered and Changeable
*   Allows Duplicates
*   Flexible Data Types
*   Add or remove items as needed.

```
# my_list = [1, 2, 3]
```




**2. Tuples**

* Ordered
* Unchangeable
* Allows Duplicates

```
# my_tuple = (1, 2, 3)
```



**3. Sets**
* Unordered
* Set items are unchangeable, but you can remove items and add new items
* No Dublicates


```
# my_set = {1, 2, 3}
```



**4. Dictionaries:** Collections of key-value pairs
* Ordered (since Python 3.7, In Python 3.6 and earlier, dictionaries are unordered.)
* Changeable
* No Duplicates
* Key-Value Pairs

```
# my_dict = {'a': 1, 'b': 2}
```

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security

* **To create the above collections their built-in function may also be used**
- list()
- tuple()
- set()
- dict()

In [39]:
firstList=[1,23,4]
t=(1,3,6)
myset={1,24,5}
d={"a":"1",}

## **2. Lists in Python**

Lists are one of the most powerful tools in python. They are just like the arrays declared in other languages. But the most powerful thing is that list need not be always homogenous.
A single list can contain strings, integers, as well as objects. Lists can also be used for implementing stacks and queues. Lists are mutable,  they can be altered once declared.

Lists can be manipulated through **Operators**, **Functions** and **Methods**.

**2.1. Main List Operations**

In [40]:
# Declaring and Creating List
myList=[8, "a", "string", True, 8, -2.5]
print(myList) # Prints the entire list

# Creating a List with List function
myList=list((1, "a", "string", True, 8, -7.5))
print(myList)

# Printing a specific item of the list
print(myList[2])

#Adding new item to the end of the list
myList.append(10)
print(myList)

#Adding new item to a specific position on the list
myList.insert(2, 50)
print(myList)
#Removing a specific item refered by its position
myList.pop(1)
print(myList)

#Removing a specific item by specific value
myList.remove(8) #Removes the first occurence of value
print(myList)

[8, 'a', 'string', True, 8, -2.5]
[1, 'a', 'string', True, 8, -7.5]
string
[1, 'a', 'string', True, 8, -7.5, 10]
[1, 'a', 50, 'string', True, 8, -7.5, 10]
[1, 50, 'string', True, 8, -7.5, 10]
[1, 50, 'string', True, -7.5, 10]

In [41]:
# Declaring and Creating List
L1=[1, "a", "string", True, 8, -2.5]
print("L1:", L1)

# Creating a new list based on another list (new copy)
L2 = L1[:]
print("L2:", L2)

# Creating a new list which refers to a list created before
L3=L1
print("L3:", L3)

# Inserting new Item to Reference List
L3.insert(0,"SNET")
print("\nL3:", L3)
print("L1:", L1)
print("L2:", L2)

L1: [1, 'a', 'string', True, 8, -2.5]
L2: [1, 'a', 'string', True, 8, -2.5]
L3: [1, 'a', 'string', True, 8, -2.5]

L3: ['SNET', 1, 'a', 'string', True, 8, -2.5]
L1: ['SNET', 1, 'a', 'string', True, 8, -2.5]
L2: [1, 'a', 'string', True, 8, -2.5]

Python provides several built-in methods to work with lists:
- len(): Returns the length of the list.
-sort(): Sorts the list in ascending order.
-reverse(): Reverses the list.
-index(): Returns the index of the first occurrence of an element.
-count(): Counts the occurrences of an element.

In [42]:
numbers = [4, 2, 8, 1, 9, 3,4,4]

# Length of the list
print(len(numbers))

# Sorting the list
numbers.sort()
print(numbers)

# Reversing the list
numbers.reverse()
print(numbers)

# Getting the index of an element
print(numbers.index(8))

# Counting occurrences of an element
print(numbers.count(4))

8
[1, 2, 3, 4, 4, 4, 8, 9]
[9, 8, 4, 4, 4, 3, 2, 1]
1
3

**2.2. Slicing Lists**

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing.

In [43]:
# Creating a List with List function
nums=list(range(1,20,2))
print(nums)

#Printing the list in reverse order
print(nums[::-1])

#Printing the list by skipping elements
print(nums[::2])

#Getting a slice of a list from index 2 to 4 (Last index in not included)
print(nums[2:4])

#Getting a slice of a list from index 4 to the end
print(nums[4:])

#Getting a slice of a list from the start to index 4 (Last index in not included)
print(nums[:4])

#Getting a slice with negative index reference
print(nums[:-3])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]
[1, 5, 9, 13, 17]
[5, 7]
[9, 11, 13, 15, 17, 19]
[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

**2.3. Nested List in Python**

A list can contain any sort object, even another list (sublist), which in turn can contain sublists themselves, and so on. This is known as nested list.
We can use them to arrange data into hierarchical structures.

In [44]:
# Create a nested List
L=['a','b',['cc','dd', ['eee', 'fff'], 'gg', 'hh'],'i','j']
print(L)

# Accessing nested List Items by their indexes
print("L[4] ",L[4])
print("-2: ",L[-2])
print(L[2][1])
print(L[2][-2])
print(L[2][2][0])
print('\n')

#Iterate through a list
L=[1,2,3,4,5,6,7,8,9]
for item in L:
  print(item, end=" ")
print('\n')

#Iterate through nested list
L=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in L:
  for item in sublist:
    print(item, end=" ")

['a', 'b', ['cc', 'dd', ['eee', 'fff'], 'gg', 'hh'], 'i', 'j']
L[4]  j
-2:  i
dd
gg
eee


1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9

**2.4. Combining different lists**

Creating a new list based on other existing lists

In [45]:
# Creating multiple lists
L1=[1,2,3,4]
L2=[5,6,7,8]

# Creating a new list based on two other lists
L3= L1+L2
print(L3)

# Creating a new list based on slices of different lists
L4=2*L1[0:2]+3*L3[1:6:2]
print(L4)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 1, 2, 2, 4, 6, 2, 4, 6, 2, 4, 6]

**2.5. Loop Lists**

In [46]:
# Printing List Elements
myList=["apple", "banana", "cherry"]

# We can loop through the list items by using a for loop
for x in myList:
  print(x)

# Processing Lists with Loops - 1
myList=[]
for x in range(1,11):
  myList.append(x)
print(myList)

apple
banana
cherry
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# Processing Lists with Loops - 2

# We can loop through the list items by referring to their index number,
# by usnig range() and len() functions to create a suitable iterable.
for i in range(len(myList)):
  if myList[i]%2 == 0:
    myList[i]=2*myList[i]
  else:
    myList[i]=3*myList[i]
print(myList)

[3, 4, 9, 8, 15, 12, 21, 16, 27, 20]

In [48]:
# Processing Lists with Loops - 3

# We can loop through the list items by using a while loop.
# by using len() function to determine the length of the list
# and iterator to traverse list items by referring to their indexes.
oddList=[]
evenList=[]
i=0; # Iterator's (first index) value
while i<len(myList):
  if myList[i]%2 == 0:
    evenList.append(myList[i])
  else:
    oddList.append(myList[i])
  i += 1

print("Odd List:", oddList)
print("Even List:", evenList)

Odd List: [3, 9, 15, 21, 27]
Even List: [4, 8, 12, 16, 20]

**2.5 List Comprehension**

List Comprehension offers the shortest syntax for looping through lists

`mylist=[expression for item in iterable if condition ]`

In [49]:
square=[x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
#create a list of even numbers 0-9
list2=[x for x in range(10) if x%2==0]
print(list2)

[0, 2, 4, 6, 8]

In [51]:
#convert lowercase to uppercase
list1=["apple","fruit","cherry"]
upper_list=[x.upper() for x in list1]
print(upper_list)

['APPLE', 'FRUIT', 'CHERRY']

In [52]:
myList=["apple", "banana", "cherry"]
[print(x) for x in myList]

apple
banana
cherry

[None, None, None]

In [53]:
# When programming, frequently we want to transform one type of data into another

myList = []
for x in range(1,11):
  myList.append(x)
print(myList)
print("------------------------------------------------")

# As a simple example, consider the following code that computes square numbers
squares = []
for x in myList:
  squares.append(x**2)
print(squares)
print("------------------------------------------------")

# We can make this code simpler using a list comprehension:
squares = [x**2 for x in myList]
print(squares)
print("------------------------------------------------")

# List comprehensions can also contain conditions:
even_squares= [x**2 for x in myList if x % 2 == 0]
print(even_squares)
print("------------------------------------------------")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
------------------------------------------------
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
------------------------------------------------
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
------------------------------------------------
[4, 16, 36, 64, 100]
------------------------------------------------

## **3. Tuples**

A tuple is a sequence of ordered (the items have a defined order, and that order will not change) immutable (we cannot change, add or remove items after the tuple has been created) Python objects. Tuples are used to store multiple items in a single variable. Tuples are usually faster than lists.

**3.1. Creating and accessing Tuples**

In [54]:
# Declaring and Creating new Tupel
tup = (1, 'a', "PY101", False, 17.5)
tup2=tuple(("SNET", 45, True))

#Printing an Entire Tuple
print(tup)
print(tup2)

# Accessing specific items into a tuple
print(tup[1])
print(tup[:4])

# Modifying tuple elements is not allowed
#tup[3]="SNET"  # Will generate compilator error

(1, 'a', 'PY101', False, 17.5)
('SNET', 45, True)
a
(1, 'a', 'PY101', False)

**Which one is a tuple?**

In [55]:
# Printing the type of Tuple
thistuple=("CEN376",)
print(type(thistuple))

# This is not a Tuple
thistuple=("CEN376")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [56]:
tup_a = (5,)
tup_b = (5)

print(tup_a)
print(tup_b)

print(type(tup_a))
print(type(tup_b))

(5,)
5
<class 'tuple'>
<class 'int'>

**3.2. Combining Lists for Tuples**

In [57]:
# Creating a List and a Tuple with a list
list1=["SNET", 2023, "Albania", True, 5]
tup1=("PY101", list1, -2.5)
print(tup1)

# Inserting new Item into the List
list1.insert(3,123)
print(tup1)

# Latest tuple status
print(tup1[2])

('PY101', ['SNET', 2023, 'Albania', True, 5], -2.5)
('PY101', ['SNET', 2023, 'Albania', 123, True, 5], -2.5)
-2.5

**3.3. Zipping lists into a list of tuples**

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterables have different lengths, the iterable with the least items decides the length of the new iterator.

In [58]:
countries = ["Albania", "Italy", "Greece", "Turkey", "Germany"]
capitals=["Tirana", "Rome", "Athens", "Ankara", "Berlin"]
capitalPopulations=[800000, 3000000, 2000000, 5000000, 3500000]

newTuple=zip(countries, capitals, capitalPopulations)
print(tuple(newTuple))

newList = list(zip(countries, capitals, capitalPopulations))
print(newList)

(('Albania', 'Tirana', 800000), ('Italy', 'Rome', 3000000), ('Greece', 'Athens', 2000000), ('Turkey', 'Ankara', 5000000), ('Germany', 'Berlin', 3500000))
[('Albania', 'Tirana', 800000), ('Italy', 'Rome', 3000000), ('Greece', 'Athens', 2000000), ('Turkey', 'Ankara', 5000000), ('Germany', 'Berlin', 3500000)]

The **enumerate()** method adds a counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

In [59]:
# Using enumerating objects in loops
capitals=["Tirana", "Rome", "Athens", "Ankara", "Berlin"]

for position, capital in enumerate (capitals):
  print(position, sep=",", end=" ")
print("\n")

for position, capital in enumerate (capitals):
  print(capital, sep=",", end=" ")
print("\n")

for capital_object in enumerate (capitals):
  print(capital_object, sep=",", end=" ")
print("\n")

# Converting enumerating objects into a list of tuples
capitalList=list(enumerate(capitals, 25))
print(capitalList)

0 1 2 3 4

Tirana Rome Athens Ankara Berlin

(0, 'Tirana') (1, 'Rome') (2, 'Athens') (3, 'Ankara') (4, 'Berlin')

[(25, 'Tirana'), (26, 'Rome'), (27, 'Athens'), (28, 'Ankara'), (29, 'Berlin')]

Filtering

In [60]:
countries = ["Albania", "Italy", "Greece", "Turkey", "Germany", "France"]
capitals = ["Tirana", "Rome", "Athens", "Ankara", "Berlin", "Paris"]
capitalPopulations = [100000, 3000000, 2000000, 5000000, 3500000, 3200000]

print("Countries with capital population over 2.5M are: ")
for (country, capital, population) in zip(countries, capitals, capitalPopulations):
  if population > 2500000 :
    print("%s with capital %s population %d" %(country, capital, population))

Countries with capital population over 2.5M are:
Italy with capital Rome population 3000000
Turkey with capital Ankara population 5000000
Germany with capital Berlin population 3500000
France with capital Paris population 3200000

Similar to the above exercise but both enumerate and zip are used.

In [61]:
countries = ["Albania", "Italy", "Greece", "Turkey", "Germany", "France"]
capitals = ["Tirana", "Rome", "Athens", "Ankara", "Berlin", "Paris"]
capitalPopulations = [100000, 3000000, 2000000, 5000000, 3500000, 3200000]

print("Countries with capital population over 2.5M are: ")
for position, (country, capital, population) in enumerate(zip(countries, capitals, capitalPopulations)):
  if population > 2500000 :
    print("%d. %s with capital %s population %d" %(position, country, capital, population))

Countries with capital population over 2.5M are:
1. Italy with capital Rome population 3000000
3. Turkey with capital Ankara population 5000000
4. Germany with capital Berlin population 3500000
5. France with capital Paris population 3200000

# Exercise
---
Create and populate these three lists:
- product_names = []
- product_prices = []
- product_quantities = []

1. Use zip() to combine the separate lists into a list of tuples
2. Apply a 10% discount for products at odd indexes using enumerate
3. Print the updated list of products
4. Calculate the total inventory value after discount

In [ ]:
product_names = ["A", "B", "C", "D", "E"]
product_prices = [100, 100, 200, 110, 150]
product_quantities = [5, 12, 4, 12, 25]

#1. zip
list1=list(zip(product_names, product_prices, product_quantities))
print(list1)

#2. 10% discount at odd positions
list2=[]
for i, ()